@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 400;
    src: url("fonts/SF-Pro-Display-Bold.otf");
}

* {
    font-family: "San Francisco", Helvetica, sans-serif;
    background-color: #f6f6f6;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#back-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eeeff1;
    position: fixed;
    top: 40px;
    left: 40px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

#back-button img {
    width: 25px;
    height: 25px;
}

.image {
    margin-top: 40px;
}

.title {
    font-size: 55px;
    color: #323235;
    font-family: "San Francisco Bold", Helvetica, sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
}

.body_text {
    font-size: 25px;
    color: #5E5E63;
    margin-bottom: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    color: #5E5E63;
    width: 100%;
}

.label {
    font-family: "San Francisco Bold", Helvetica, sans-serif;
    font-size: 18px;
}

.info_desc {
    font-family: "San Francisco", Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 0px;
}

#course, #professor {
    color: #5E5E63;
    text-decoration: none;
}