@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 400;
    src: url("fonts/SF-Pro-Display-Bold.otf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "San Francisco", Helvetica, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#back-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eeeff1;
    position: fixed;
    top: 40px;
    left: 40px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
}

#back-button:hover {
    transform: scale(1.05);
}

#back-button img {
    width: 25px;
    height: 25px;
}

.image {
    margin-top: 40px;
}

.title {
    font-size: 55px;
    color: #323235;
    font-family: "San Francisco Bold", Helvetica, sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
}

.subtitle {
    font-size: 45px;
    color: #323235;
    font-family: "San Francisco Bold", Helvetica, sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
}

.space_body_text {
    font-size: 25px;
    color: #5E5E63;
    margin-bottom: 30px;
    line-height: 35px;
}

.reg_body_text {
    font-size: 25px;
    color: #5E5E63;
    margin-bottom: 0px;
    line-height: 35px;
}

.info {
    display: flex;
    justify-content: space-between;
    color: #5E5E63;
    width: 100%;
}

.label {
    font-family: "San Francisco Bold", Helvetica, sans-serif;
    font-size: 18px;
}

.info_desc {
    font-family: "San Francisco", Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#course, #professor {
    color: #5E5E63;
    text-decoration: none;
}

.here {
    color: #a3a2a2;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#navbar {
    width: 45%;
    margin-right: 60px;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: -30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

#dynamic_island {
    width: 45%;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: -30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

#hover_gif {
    width: 600px;
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    margin-top: 60px;
    margin-bottom: -10px;
}

.hourglass_scr {
    width: 600px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    margin-top: 60px;
    margin-bottom: -10px;
}

footer {
    font-size: 16px;
    text-align: center;
    color: #707072;
    background-color: #eeeff1;
    margin-top: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
}

#footer_txt {
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 768px) {
    .container {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .title {
        font-size: 45px;
        color: #323235;
        font-family: "San Francisco Bold", Helvetica, sans-serif;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    
    .subtitle {
        font-size: 35px;
        color: #323235;
        font-family: "San Francisco Bold", Helvetica, sans-serif;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #back-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #eeeff1;
        position: fixed;
        top: 15px;
        left: 15px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    }

    .image_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hover_gif {
        width: 350px;
        border-radius: 40px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        margin-top: 40px;
        margin-bottom: -30px;
    }

    #navbar {
        width: 100%;
        margin-right: 0;
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: -20px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    }
    
    #dynamic_island {
        width: 100%;
        border-radius: 25px;
        margin-top: 40px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    }

    #course_name {
        display: none;
    }

    .hourglass_scr {
        width: 350px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        margin-top: 40px;
        margin-bottom: -30px;
    }
}