@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("fonts/SF-Pro-Display-Medium.otf");
}

* {
    font-family: "San Francisco", Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#gradient-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    --gradient-color-1: #cfd0fa; 
    --gradient-color-2: #f6f6f6; 
    --gradient-color-3: #eae2ff;  
    --gradient-color-4: #c7caf7;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 7rem;
}
  
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    position: fixed;
}
  
.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: #323235;
    background-image:linear-gradient(to right, #323235, #323235 33.3333%, #3A41C6, #3D3BBB, #4634A7, #4C2C96, #512888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 100%;
    background-position: top left;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}
  
.navbar a:hover {
    background-position: top left 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#greeting, .location, .container {
    margin: 10px 0;
}

#greeting {
    text-align: center;
    font-size: 100px;
    padding-top: 200px;
    background: linear-gradient(to right, #3A41C6, #3D3BBB, #4634A7, #4C2C96, #512888);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #323235;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
}

.intro {
    text-align: center;
    font-size: 25px;
    max-width: 600px;
    color: #323235;
    line-height: 30px;
    margin-right: 10px;
    max-width: 80%;
}

.body_content {
    background-color: #f6f6f6;
    margin-top: 440px;
    padding-bottom: 300px;
    border-radius: 50px 50px 0 0;
}

.title {
    text-align: center;
    font-size: 70px;
    padding-top: 50px;
    background: linear-gradient(to right, #3A41C6, #3D3BBB, #4634A7, #4C2C96, #512888);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#portrait {
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    max-height:30%;
    max-width:30%;
    margin-right: 5%;
}

.about_desc {
    color: #323235;
    font-size: 1.4vw;
    line-height: 150%;
    max-height:50%;
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 303.33px;
    height: 80px;
    margin: 10px;
    background-color: #eeeff1;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #323235;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}


.button img {
    height: 40px;
    margin-right: 10px;
}

.about_content {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.proj_contact {
    margin-left: auto;
    margin-right: auto;
}

.button_container {
    width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.wide_button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 290px;
    margin: 10px 0;
    margin-bottom: 30px;
    background-color: #eeeff1;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    padding: 10px;
}

.button_text h2 {
    font-size: 60px;
    margin: 20px;
    color: #323235;
}

.button_text p {
    color: #5E5E63;
    margin: 20px;
    font-size: 30px;
    max-width: 350px;
}

.wide_button img {
    height: 60px;
    margin: 10px;
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .about_content {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .about_desc {
        font-size: 1.8vw;
    }

    .contact_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        margin: 0 auto;
        width: 100%;
    }
    
    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 65px;
        background-color: #eeeff1;
        border-radius: 20px;
        font-size: 20px;
        text-decoration: none;
        color: #323235;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    }
    
    .button img {
        height: 30px;
        margin-right: 10px;
    }

    .proj_contact {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .button_container {
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .wide_button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 200px;
        margin: 10px 0;
        margin-bottom: 30px;
        background-color: #eeeff1;
        border-radius: 20px;
        text-decoration: none;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        padding: 10px;
    }
    
    .button_text h2 {
        font-size: 40px;
        margin: 20px;
        color: #323235;
    }
    
    .button_text p {
        color: #5E5E63;
        margin: 20px;
        font-size: 25px;
        max-width: 350px;
    }
    
    .wide_button img {
        height: 60px;
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .about_content {
        flex-direction: column;
        align-items: stretch;
    }

    #portrait, .about_desc {
        max-width: 100%;
        margin: 0;
    }

    #portrait {
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .about_desc {
        font-size: 25px;
    }

    .contact_container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        justify-content: center;
    }

    .button {
        margin-bottom: 20px;
        width: 105%;
        margin-right: 10px;
    }

    .proj_contact {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .button_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .wide_button {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 500px;
    }

    .wide_button img {
        margin-top: 10px;
        align-self: center;
    }

    .button_text {
        align-self: flex-start;
        width: 100%;
    }

    .button_text h2 {
        font-size: 50px;
    }

    .button_text p {
        color: #5E5E63;
        margin: 20px;
        font-size: 25px;
        max-width: 100%;
    }
}

footer {
    font-size: 16px;
    text-align: center;
    color: #707072;
    background-color: #eeeff1;
    padding-top: 75px;
    padding-bottom: 75px;
}

#footer_txt {
    padding-left: 40px;
    padding-right: 40px;
}